div.forecast-tabs {
  font-size: 11px;
  padding: 15px;
  letter-spacing: 1px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  text-transform: uppercase;
}

.forecast-day {
  font-weight: 600;
  margin-top: 5px;
}

.forecast-icons {
  height: 40px;
  position: relative;
  bottom: 1px;
}
