div.search-form {
  margin: 12px;
}

div.search-field {
  padding-right: 5px;
}

.form-control {
  text-transform: uppercase;
  font-size: 12px;
}

.form-control:focus {
  border-color: #6c757d;
  box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25);
}

button.btn-secondary {
  font-size: 12px;
  line-height: 1.6;
  padding: 5px 9px;
}

div.search-button {
  padding: 0px 2px;
}

div.locate-button {
  padding: 0px 12px 0px 1px;
}
