button.btn-secondary {
  font-size: 12px;
  line-height: 1.6;
  padding: 5px 9px;
}

div.search-button {
  padding: 0px 2px;
}

div.locate-button {
  padding: 0px 12px 0px 1px;
}

div.search-form {
  margin: 12px;
}

div.search-field {
  padding-right: 5px;
}

span.temperature-value {
  font-size: 70px;
  font-weight: 900;
}

section.weather-info {
  letter-spacing: 1px;
  padding-top: 18px;
  padding-bottom: 22px;
}

section .headings {
  font-weight: 900;
}

.temperature-metric {
  color: rgb(15, 15, 15);
  font-size: 16px;
  position: relative;
  bottom: 35px;
  text-decoration: none;
}

.weather-icon {
  width: 100px;
  position: relative;
  bottom: 20px;
  left: 5px;
}

.weather-description {
  margin-top: -30px;
  padding-bottom: 5px;
}

.form-control {
  text-transform: uppercase;
  font-size: 12px;
}

.form-control:focus {
  border-color: #6c757d;
  box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25);
}
